ortools
geopandas
deap
flask_cors
flask_sqlalchemy
yfinance
streamlit_folium
folium
networkx
pulp
statsmodels
lightgbm
numpy
pandas
matplotlib
scikit-learn
prophet
convertdate
convertdate
plotly
python-docx
xlrd
waitress
scipy
openpyxl
seaborn
pyqt5
python-pptx
tabulate
pyinstaller
requests
pathlib
urllib3
reportlab
geopy
osmnx
aiohttp
kaleido
